:root {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}

.pokecard {

  padding: 2em;
  border-radius: 0.5em;
  width: 12em;
  margin: 2.25em;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 7em;
  animation: bounce .5s infinite ease;
}

.pokecard:nth-of-type(even) > img {
  animation: bounce .5s infinite ease;

}

@keyframes bounce {
  0% {
    transform: translateY(-.1em);
  }
  50% {
    transform: translateY(.1em);
  }
  100% {
    transform: translateY(-.1em);
  }
}
